[2018-01-25 03:58] dwmkerr opened #2 "Concept: The Hype Cycle"
https://en.wikipedia.org/wiki/Hype_cycle

[2018-01-25 03:59] dwmkerr opened #3 "Law: The Conservation of Complexity"
https://en.wikipedia.org/wiki/Law_of_conservation_of_complexity

[2018-01-25 03:59] dwmkerr opened #4 "Law: The Law of Triviality"
https://en.wikipedia.org/wiki/Law_of_triviality

[2018-05-25 04:08] dwmkerr opened #5 "Law: Hyrum's Law"
http://www.hyrumslaw.com/

With a sufficient number of users of an API,
it does not matter what you promise in the contract:
all observable behaviors of your system
will be depended on by somebody.

[2018-05-25 04:08] dwmkerr opened #6 "Law: The Law of Leaky Abstractions"
https://www.joelonsoftware.com/2002/11/11/the-law-of-leaky-abstractions/

[2018-09-25 05:38] pengx17 opened #7 "Hofstadter's law"
It always takes longer than you expect, even when you take into account Hofstadter's Law.

https://en.wikipedia.org/wiki/Hofstadter%27s_law

[2018-10-03 13:12] #7 closed

[2018-10-03 13:13] dwmkerr commented on #7
Thanks @pengx17 !

[2018-10-04 15:44] #3 closed

[2018-10-07 13:52] smetsth opened #12 "Concept: Decomposition and Integration"
Part of this is based on Tesler's law on complexity where you write the following:
"This complexity can be moved, but not eliminated". To me this forms the base of decomposing systems into smaller parts. Let's call those smaller parts modules for the sake of this discussion.

I don't want to focus on decomposing systems into modules here, but I do want to point out two ideas I find important:
- [O

[2018-10-08 13:44] dwmkerr opened #13 "Concept: Domain Driven Design"

[2018-10-08 13:46] dwmkerr commented on #12
Hi @smetsth,

I'd like to find a way to include this concept. Essentially it also covers one of the most fundamental challenges of software engineering, which is 'how do we design components?'. Picking where to draw boundaries between components, and how to interface them is one of the core challenges for any kind of engineering. Whether it is breaking one large function into many small ones (maki

[2018-10-08 15:41] dwmkerr opened #14 "Law: Wadler's Law"
https://wiki.haskell.org/Wadler's_Law

See also #4

[2018-10-08 15:43] dwmkerr opened #15 "Law: Parkinson's Law"
https://en.wikipedia.org/wiki/Parkinson%27s_law

[2018-10-08 15:55] #4 closed

[2018-10-09 07:10] smetsth commented on #12
I totally agree with you that this can be applied from the smallest parts of an application to the to the integration of systems even. I haven't found a specific example yet, even though I've been looking for it for quite some time.

Domain driven development certainly addresses integration of code. Articles and papers on coupling and cohesion do as well. But I haven't found a catchy phrase that e

[2018-10-09 16:57] dwmkerr commented on #12
In that case I'm going to leave this issue open and let it stew for a bit. I've got a backlog of other easier laws to introduce so I'll work through them, and then add to this as I discover more!

[2018-10-15 13:24] dwmkerr opened #18 "SOLID"
Good ol' SOLID principles

[2018-10-15 13:24] dwmkerr opened #19 "DRY"

[2018-10-15 13:24] dwmkerr opened #20 "KISS"

[2018-10-15 13:54] dwmkerr opened #21 "Concept: Polymorphism"

[2018-10-15 13:54] dwmkerr opened #22 "Pattern: Object Orientated Programming"

[2018-10-15 13:54] dwmkerr opened #23 "Pattern: Functional Programming"

[2018-10-15 13:55] dwmkerr opened #24 "Pattern: Functional Programming"

[2018-10-15 13:55] dwmkerr opened #25 "Pattern: Imperative Programming"

[2018-10-15 13:55] dwmkerr opened #26 "Pattern: Declarative Programming"

[2018-10-16 14:09] dwmkerr opened #28 "Curriculums"
Originally, there was a star rating next to each item to indicate how important it is. This was hard to maintain, so one other option might be 'curriculums', e.g. a Junior Dev should know a certain set of concepts, a more senior dev another. Just something which helps people know which ones are more likely to be encountered...

[2018-10-17 05:59] kenzoarima opened #29 "Object-orientated programming or Object-oriented programming?"
While I understand that this is written in British English (e.g. organisation), just wondering if the long form of OOP should conform to the commonly known "object-oriented programming".

[2018-10-18 04:12] kenzoarima commented on #29
Cool~ looking forward to more contents coming in to this repo! 😉 #hacktoberfest

[2018-10-18 04:12] #29 closed

[2018-11-08 07:32] rheh opened #31 "Law: Brooks' law"
It is worth considering the addition of Brooks' law.

https://en.m.wikipedia.org/wiki/Brooks%27s_law

[2018-11-09 10:31] dwmkerr commented on #31
Great idea, thanks @rheh! Will add soon 👍

[2019-01-02 05:35] tobiasbueschel opened #33 "methodology: twelve-factor app"
https://12factor.net/

Have a clean contract with the underlying operating system, offering maximum portability between execution environments;
Are suitable for deployment on modern cloud platforms, obviating the need for servers and systems administration;
Minimize divergence between development and production, enabling continuous deployment for maximum agility;
And can scale up without significa

[2019-02-22 09:46] aiboy commented on #31
@dwmkerr any progress on this one?

[2019-02-23 12:18] dwmkerr commented on #31
Done, thanks @rheh!

[2019-02-23 12:18] #31 closed

[2019-02-27 05:31] #14 closed

[2019-02-28 15:32] #15 closed

[2019-03-04 04:55] dwmkerr commented on #18
This was completed a little while ago.

[2019-03-04 04:55] #18 closed

[2019-03-04 15:50] #2 closed

[2019-04-02 01:43] dwmkerr opened #39 "SMART"
https://en.wikipedia.org/wiki/SMART_criteria

[2019-04-02 01:45] dwmkerr opened #40 "INVEST"
https://www.agilealliance.org/glossary/invest/#q=~(infinite~false~filters~(postType~(~'page~'post~'aa_book~'aa_event_session~'aa_experience_report~'aa_glossary~'aa_research_paper~'aa_video)~tags~(~'invest))~searchTerm~'~sort~false~sortDirection~'asc~page~1)

[2019-04-02 08:04] dwmkerr opened #41 "Koomey's Law"
https://en.wikipedia.org/wiki/Koomey%27s_law

[2019-04-02 08:05] dwmkerr opened #42 "Landauer's Principle"
https://en.wikipedia.org/wiki/Landauer%27s_principle

[2019-04-02 08:05] dwmkerr opened #43 "Gustafson's law"
https://en.wikipedia.org/wiki/Gustafson%27s_law

[2019-04-02 08:05] dwmkerr opened #44 "Grosch's Law"
https://en.wikipedia.org/wiki/Grosch%27s_law

[2019-04-02 08:06] dwmkerr opened #45 "Bell's Law"
https://en.wikipedia.org/wiki/Bell%27s_law_of_computer_classes

[2019-04-02 08:06] dwmkerr opened #46 "Amdahl's Law"
https://en.wikipedia.org/wiki/Amdahl%27s_law

[2019-04-04 04:18] #46 closed

[2019-04-04 04:30] dwmkerr opened #48 "Descriptive, prescriptive and predictive analytics"

[2019-04-04 04:30] dwmkerr opened #49 "Supervised / Unsupervised Machine Learning"

[2019-04-04 08:10] dwmkerr opened #50 "Putt's Law"
https://en.wikipedia.org/wiki/Putt%27s_Law_and_the_Successful_Technocrat

[2019-04-04 08:34] dwmkerr opened #51 "Moore's Law"

[2019-04-11 04:17] #51 closed

[2019-04-18 05:35] dwmkerr opened #54 "The Peter Principle"
https://en.wikipedia.org/wiki/Peter_principle

[2019-04-18 05:36] dwmkerr opened #55 "The Dilbert Principle"
https://en.wikipedia.org/wiki/Dilbert_principle

[2019-04-25 07:47] #50 closed

[2019-04-29 10:44] dwmkerr opened #56 "The Mythical Man Month"

[2019-04-29 11:41] #5 closed

[2019-05-13 06:34] dwmkerr opened #61 "build: create static site"
Create a simple static site from the README and publish. Link to new domain name.

Step 1: Simple README rendering (see comment below)

Step 2: Some more advanced options

- netlify
- mdx-go
- jekyll

Step 3: Consider some additional features:

- Law of the day?
- Flashcards?

[2019-05-13 15:18] dwmkerr commented on #6
Done done

[2019-05-13 15:18] #6 closed

[2019-05-14 11:52] gwerbin commented on #49
What would the relevance be here? Maybe there is a law that states "every field of study must have an introductory book that is 'for hackers'".

[2019-05-14 12:20] ignisf commented on #56
FYI https://github.com/dwmkerr/hacker-laws#brookss-law

[2019-05-14 16:07] killelea opened #67 ""it's" is incorrect"
Both uses of "it's" are wrong in Parkinson's law.

his
hers
its
all possessive

he's
she's
it's
all contractions

[2019-05-14 16:27] avimar opened #69 "Hyrum's Law: xkcd"
Seems you have some references... this is a comical one. https://xkcd.com/1172/

[2019-05-14 17:28] KKPMW opened #70 "Broken Window Theory"
First heard about this in "The pragmatic programmer" book.

There is a wikipedia page on it: [Broken Window Theory](https://en.wikipedia.org/wiki/Broken_windows_theory) but it doesn't talk about software.

In short the theory states that when one broken/messy part is introduced to the system and left unfixed for a period of time people will stop caring about maintaining the quality in other areas

[2019-05-15 02:35] cktang88 opened #73 "Add more laws..."
From a quick googling, there's a ton to add:
https://www.timsommer.be/famous-laws-of-software-development/
https://exceptionnotfound.net/fundamental-laws-of-software-development/
https://haacked.com/archive/2007/07/17/the-eponymous-laws-of-software-development.aspx/

[2019-05-15 10:54] RickMoynihan opened #75 "Murphy's law"
_What can go wrong, will go wrong_

https://en.wikipedia.org/wiki/Murphy%27s_law

[2019-05-15 13:20] #67 closed

[2019-05-15 13:20] dwmkerr commented on #67
Thanks @killelea - I must have been half asleep when I wrote that one!

[2019-05-15 13:22] #69 closed

[2019-05-15 13:22] dwmkerr commented on #69
Excellent, just added it now! Thanks @avimar

[2019-05-15 14:32] dwmkerr opened #80 "docs: images are too big"
Better to use `img` tags with an explicit width, otherwise the images just seem huge.

[2019-05-15 14:54] dwmkerr opened #81 "feat: Add 'Contributors' section"
Would be great to have an auto-generated list of contributors on the page, to acknowledge the contributions people have made.

[2019-05-15 15:27] dwmkerr opened #82 "feat: Planning fallacy"
https://en.wikipedia.org/wiki/Planning_fallacy

The planning fallacy, first proposed by Daniel Kahneman and Amos Tversky in 1979, is a phenomenon in which predictions about how much time will be needed to complete a future task display an optimism bias and underestimate the time needed.

[2019-05-15 15:28] dwmkerr opened #83 "feat: 90/90 rule"
https://en.wikipedia.org/wiki/Ninety-ninety_rule

The first 90 percent of the code accounts for the first 90 percent of the development time. The remaining 10 percent of the code accounts for the other 90 percent of the development time.[1]

— Tom Cargill, Bell Labs

[2019-05-15 15:29] dwmkerr opened #84 "feat: Lindy Effect"
https://en.wikipedia.org/wiki/Lindy_effect

The Lindy effect is a theory that the future life expectancy of some non-perishable things like a technology or an idea is proportional to their current age, so that every additional period of survival implies a longer remaining life expectancy.[1] Where the Lindy effect applies, mortality rate decreases with time. In contrast, living creatures and mecha

[2019-05-15 15:37] dwmkerr opened #85 "feat: Occam's Razor"

[2019-05-15 15:53] nusr opened #86 "This repo is cool. I has translated it to Chinese."
[https://github.com/nusr/hacker-laws-zh](https://github.com/nusr/hacker-laws-zh)

[2019-05-16 02:31] dwmkerr commented on #86
Awesome! Can you help me include the Chinese text in the PR I've mentioned so that it looks like:

[Hacker Laws in Chinese / <Hacker Laws in Chinese, but written in Mandarin] so that I can include the link on the top of the repo?

[2019-05-16 02:34] nusr commented on #86
ok

[2019-05-16 06:01] #86 closed

[2019-05-16 19:42] tfnico opened #90 "Gall's Law"
Had to think of this one when I saw this repo. I think fits pretty well. Just pasting quickly here as I'm on mobile:

https://en.m.wikipedia.org/wiki/John_Gall_(author)#Gall's_law

[2019-05-16 20:14] johnletey commented on #61
May I suggest [mdx-go](https://github.com/jxnblk/mdx-go)

[2019-05-17 07:48] dwmkerr commented on #61
Thanks @johnletey will look into it!

[2019-05-17 09:00] BeniaminK opened #91 "feat: Cunningham's Law"
https://en.wikipedia.org/wiki/Ward_Cunningham#Cunningham's_Law

[2019-05-17 11:16] tg44 opened #92 "Ballmer peak"
https://www.explainxkcd.com/wiki/index.php/323:_Ballmer_Peak

[2019-05-17 21:06] jlozovei commented on #28
Beside (this "level rating") it's hard to maintain, I believe that rookie devs may be frightened by the amount of information they need to absorb in order to evolve (IMHO).

I surely agree that it's an important info, but also believe that kind of leveling should be more related to the dev's "solving-problem skills" (besides their technical skills).

I.E. "_I know what is polymorphism; but what ki

[2019-05-17 21:09] jlozovei commented on #28
Or, we could create a kind of "developer roadmap", like this: [Web Developer Roadmap 2019](https://github.com/kamranahmedse/developer-roadmap)

[2019-05-17 21:13] TheMightyBaguette opened #95 "Benford's law"
https://en.wikipedia.org/wiki/Benford%27s_law

[2019-05-18 13:14] #56 closed

[2019-05-19 13:21] dwmkerr commented on #95
Fascinating, I'd not heard of this before. Do you have any suggestions for application to computer science / programming? I couldn't find any explicit ones in the wikipedia article, but wonder if it might come up in Random Number Generates when attempting to create 'realistic' simulations of certain types of datasets?

[2019-05-19 13:25] dwmkerr commented on #28
Good idea - another way of doing it which might be fun would be when there is a static site (which I'm working on) creating a little 'flashcards' type game/quiz, so that people could test themselves on 'common' laws, less common laws, downright esoteric laws, etc

[2019-05-19 13:33] dwmkerr commented on #90
Love it, will add it soon!

[2019-05-19 13:36] dwmkerr commented on #73
Excellent, thanks for the links!

[2019-05-19 13:41] dwmkerr commented on #70
Great idea, will get on it :)

[2019-05-19 13:42] dwmkerr commented on #49
This is more a reminder; a suggestion from a friend. At some stage I might add a general concepts section, the only issue there is that it could be pretty much endless 😛

[2019-05-20 14:47] #19 closed

[2019-05-20 14:53] alexeyraspopov commented on #61
Another cheap and efficient option is to enable github pages for master branch. It uses README as a main page and applies pretty decent styles to it. (Here is an example: https://alexeyraspopov.github.io/flux-guidelines/)

[2019-05-20 15:28] dwmkerr commented on #61
@alexeyraspopov I had no idea you could just directly render the `README` like that, awesome! I'll likely set that up as step one. Thanks so much!

[2019-05-21 11:30] NARKOZ opened #102 "Law of Demeter"
https://en.wikipedia.org/wiki/Law_of_Demeter

[2019-05-22 06:42] jonasbn commented on #22
Hi @dwmkerr

Awesome project, I was pondering suggestion a section on software design patterns (or just patterns in general), since so many exist in addition to [the original GOF design patterns](https://en.wikipedia.org/wiki/Design_Patterns). Then I spotted that you had prefixed a group issues with the word pattern. IMHO the issues with the title prefix pattern should perhaps be "paradigm" (see a

[2019-05-22 10:20] DonkeyKongJr opened #103 "Defensive Programming"
https://en.wikipedia.org/wiki/Defensive_programming

[2019-05-22 10:23] DonkeyKongJr opened #104 "YAGNI - You Aren’t Gonna Need It"
https://de.wikipedia.org/wiki/YAGNI

[2019-05-22 10:30] siriak commented on #104
https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it

[2019-05-22 10:30] siriak commented on #104
English version: https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it

[2019-05-22 17:04] rreusser opened #106 "The Grep Test"
I'm not sure what the standard of inclusion is, but I'd love for there to be a counterpoint on DRY (ref: #19). I absorbed the concept of DRY and did a lot of damage very quickly. As I improve and slowly pick up the pieces though, The Grep Test became a great way for me to think about one of the most valuable and difficult things for me to internalize as a developer. See: [Too DRY - The Grep Test](

[2019-05-23 06:51] siriak commented on #106
After reading references, I wonder if it can be an issue in statically typed languages? Examples were written in JS, Ruby and Python and I can see their point there, but it's very uncommon to encounter such code in statically typed languages. So I'm wondering if this principle is applicable in my case (C# developer). I'd really appreciate it if the author could give me some more further reading wi

[2019-05-23 13:08] rreusser commented on #106
Good point! Hmm, maybe while it doesn’t technically fail the test, overloading the comma operator would be an example: https://mobile.twitter.com/matt77hias/status/1124285841453584388

While it doesn’t technically fail, it pushes the test to the breaking point because 1) I for one would stare at this blankly and not think to grep for `operator\s?,`, 2) I don’t think IDEs will show any meaningful c

[2019-05-23 13:09] rreusser commented on #106
Oh, that’s C++ and not C# but statically typed nonetheless. Also I wonder how far you take `#define` down the grep test failure road. 😬

[2019-05-23 13:22] siriak commented on #106
Thanks for the example a lot :)

[2019-05-23 22:26] dmankins opened #107 "SOLID "Single Responsibility" should have "UNIX philosophy" as "See also""

[2019-05-23 23:21] TheMightyBaguette commented on #95
It is mostly used in fraud detection system especially in the banking sector to cross check whether or not some transaction seems suspicious or not. I encourage you to take a look at this book :

_Nigrini, M. J. (2012). Benford's Law: Applications for forensic accounting, auditing, and fraud detection (Vol. 586). John Wiley & Sons._

[2019-05-24 10:06] dwmkerr opened #108 "concept: the technical debt quadrant"
https://martinfowler.com/bliki/TechnicalDebtQuadrant.html

![image](https://user-images.githubusercontent.com/1926984/58320589-91ca1680-7e4e-11e9-944e-8464a3ba6fc0.png)

[2019-05-27 02:47] cktang88 opened #109 "Bonini's Paradox"
https://en.wikipedia.org/wiki/Bonini%27s_paradox

[2019-05-27 07:30] lifthrasiir opened #110 "Norvig's law"
https://norvig.com/norvigs-law.html

While extremely obvious, it is not hard-wired to the mind and everyone experiences this fallacy from time to time.

[2019-05-27 08:11] dwmkerr opened #111 "Fundamental Theorem of Software Engineering"
https://en.wikipedia.org/wiki/Fundamental_theorem_of_software_engineering

[2019-05-27 11:19] mstrYoda opened #112 "composition over inheritence"
It might be add as a princibple.

[2019-05-27 15:11] lusocoding commented on #112
I agree... it should be added. Link to Wikipedia here: [](https://en.wikipedia.org/wiki/Composition_over_inheritance)

[2019-05-29 12:36] siriak commented on #109
Good article, but how this paradox relates to software development?

[2019-05-31 20:54] codeanddonuts opened #114 "Did some translations to Korean"
[한국어 / Korean] https://github.com/codeanddonuts/hacker-laws-kr

This repo seems promising, so I did some translation jobs.

[2019-06-01 09:25] dwmkerr commented on #114
This is awesome! Can you help me make sure that I have written the link properly?

The PR is: #115

I had to google how to write 'korean' in korean, and want to make sure it's correct! Thanks very much btw, share you twitter handle/linkedin if you want me to mention you when I share this update!

[2019-06-01 13:01] #114 closed

[2019-06-02 17:02] ilyaspiridonov opened #117 "Translate Hacker Laws using GitLocalize"
Pls consider using [GitLocalize.com](https://gitlocalize.com) to manage translations of Hacker Laws into other languages. GitLocalize is free and is great for managing crowdsourced translations.

[2019-06-07 17:36] elisbyberi commented on #109
"As a model of a complex system becomes more complete, it becomes less understandable. Alternatively, as a model grows more realistic, it also becomes just as difficult to understand as the real-world processes it represents".

Reference:
Dutton, John M; Starbuck, William H (1971). Computer Simulation of Human Behavior. Wiley.

[2019-06-11 07:57] umutphp opened #122 "Turkish Translations"
The repo is very cool and inspiring. I has translated it to Turkish.

https://github.com/umutphp/hacker-laws-tr

[2019-06-11 08:18] dwmkerr commented on #122
Awesome! Is my google translate of 'Turkish' correct?

Türkçe / Turkish Version

On Tue, 11 Jun 2019 at 15:57, Umut Işık <notifications@github.com> wrote:

[2019-06-11 09:49] umutphp commented on #122
Yes, it is correct.

[2019-06-11 13:13] #104 closed

[2019-06-12 02:36] dwmkerr commented on #122
Thanks!

[2019-06-12 02:37] #122 closed

[2019-06-17 02:28] LeoFC97 opened #126 "Brazilian Portuguese Translate"
I'm working on the PT-BR (Brazilian-Portuguese) translation.

https://github.com/leonardofernandescosta/hacker-laws-ptbr

[2019-06-17 07:08] dwmkerr commented on #126
Ace! Is it ready for me to link and share?

[2019-06-18 01:37] LeoFC97 commented on #126
Working in progress

[2019-06-18 01:49] dwmkerr commented on #126
Awesome, let me know when I can share! BTW, I am thinking of integrating:

https://gitlocalize.com

Do you think this would be useful to manage the localisations?

[2019-06-18 02:05] LeoFC97 commented on #126
I nerver used gitlocalize, but its always good to trey new stuff.

[2019-06-18 06:56] umutphp commented on #117
@dwmkerr GitLocalize is a cool and promising tool. But I think the most important problem of the repo is how to align the master content with the translations. When you add a new law or a new principle, the owner of the locale content should be aware of the change. I had contributed the translation of [phpthewrongway](https://github.com/unixsheikh/phpthewrongway) repo. I liked the folder and file

[2019-06-26 02:43] dwmkerr commented on #126
OK cool, then let's give it a try! I will set it up now and we can see if it is easy to work with. I think the thing I am keen to see if it can handle is how do we _update_ translations when new content comes into master, i.e. how would we know what text has changed and therefore what translations to update! Just about to try it now

[2019-06-26 03:34] LeoFC97 commented on #126
Ok, almost finishing the translation

[2019-06-26 04:14] dwmkerr commented on #126
OK buddy, ready to give it a try!

![image](https://user-images.githubusercontent.com/1926984/60150569-d2c99800-980b-11e9-9db6-05d4b2c85e17.png)

Can you try logging into https://gitlocalize.com, then once you do so let me know your username? Then I can add you to the team and we can see how it works!

[2019-06-26 04:19] LeoFC97 commented on #126
leofc97 is my username there.

[2019-06-26 05:27] dwmkerr commented on #126
OK! I think you are now the moderator for `pt-BR`. But this is my first time with the tool so am learning too :lol:

[2019-06-26 05:31] dwmkerr commented on #126
cc @umutphp

[2019-06-26 05:32] dwmkerr commented on #117
@umutphp got it - let me bring you into the convo on another issue, #126, we're trying it out with `pt-BR`. It looks like GitLocalise might make this straightforward, but I don't want to suggest we move to it wholesale till we've had a bit of a chance to experiement!

[2019-06-26 18:32] umutphp commented on #126
I have also logged in to GitLocalize. My username is umutphp. You can add me as the moderator of Turkish

[2019-06-26 19:43] LeoFC97 commented on #126
I'm working on the GitLocalize, but i cant see where i cant upload my readme.md file (translated to pt-br). The only option that I have is to translate again, and it will take much more time.
![image](https://user-images.githubusercontent.com/33994116/60209670-86914e80-9831-11e9-96f5-a0e97e920a6f.png)

[2019-06-27 01:38] dwmkerr commented on #126
@umutphp i've made you a moderator - @LeoFC97 let me take a look and see what I can do!

[2019-06-27 05:09] dwmkerr commented on #126
@LeoFC97 can you try creating a small review request with what you have? I think then we will get a PR with the markdown, and then I _think_ we can actually manually add your whole translation to the PR and I hope then it'll just incorporate it

[2019-06-27 10:11] umutphp commented on #126
@dwmkerr I think we can not create a review request without finishing the 100% of the translation. So We should either finish the translation by copy/paste on GitLocalize or create the translations/locale.md file manually.

I preferred to use GitLocalize to use and get familiar with the tool :)

[2019-06-27 11:17] dwmkerr commented on #126
Ah I see!

[2019-06-27 13:56] umutphp commented on #126
Hi @dwmkerr

I have almost finished entering the Turkish translations to GitLocalize but I can not edit the lists at the beginning of the page. So I can not create Review Request to finish the process.

If it is a bug of GitLocalize, maybe we can change the format of the list.

[2019-06-27 14:43] LeoFC97 commented on #126
@umutphp  how can i create the locale.md manually? I dindn't find this feature.

[2019-06-27 14:45] dwmkerr commented on #126
I think you'd literally make a PR to create:

[code]

And that would do it!

[2019-06-27 14:47] dwmkerr commented on #126
Under the hood, I think that this is all that the tool will do; if it is smart enough to pick up on presence of the file having been manually added, it might just work. What I am hoping is that when the text then changes in the future, it's easy to see what the translation work would be required.

[2019-06-27 17:24] LeoFC97 commented on #126
I need permision to create a new branch(feat/ptbr-version)

![image](https://user-images.githubusercontent.com/33994116/60287002-34126980-98e7-11e9-9fb7-77eb0168bc9c.png)

[2019-06-28 00:43] dwmkerr commented on #126
If you create a PR I’ll just merge directly into master from that for now!

On Fri, 28 Jun 2019 at 1:24 AM, Leonardo Costa <notifications@github.com>
wrote:

[2019-06-28 01:15] LeoFC97 commented on #126
Right, sorry about the confusion. I'm kinda new to github :cold_sweat:

PR #127

[2019-06-28 05:54] umutphp commented on #126
The MD file per locale can be created on the Github repo, not on GitLocalize.

[2019-06-28 08:49] umutphp commented on #126
I have created a ticket to GitLocalize about the problem in nested lists that I mentioned before. They replied and said that they were aware of it and their dev team  is working on fixing it.

[2019-06-28 13:24] umutphp commented on #126
@dwmkerr
They have resolved the issue :) and I could finish the translation. PR is also created :)

[2019-06-30 05:35] dwmkerr commented on #126
Awesome!

[2019-06-30 05:36] dwmkerr commented on #126
@umutphp I'm hoping that if text _changes_ then we'll see that in GitLocalise too, fingers crossed!

[2019-06-30 17:28] umutphp commented on #126
@dwmkerr I have faced another issue in GitLocalize. As I translated the titles of sections, the anchors also changed. So the links are not working in [translations/tr.md](tr.md) file. The URLs in the links should also be translatable. I have raised a ticket for it.

[2019-07-01 01:50] dwmkerr commented on #126
OK sounds good. I've also raised a few questions on 'mass translation' with an existing MD file, and how changes/deletions are handled with the original text..

[2019-07-02 10:35] umutphp commented on #126
@dwmkerr GitLocalize sends an email when the original file is updated.

![image](https://user-images.githubusercontent.com/3245166/60506255-29cce280-9cce-11e9-9da2-cc162fc083b1.png)

[2019-07-02 11:07] dwmkerr commented on #126
Oh that's cool, thanks for letting me know!

[2019-07-02 11:17] dwmkerr commented on #126
#130  - FYI I'll update the contributor guide with info on localisation as we get more familiar with it!

[2019-07-08 11:26] #90 closed

[2019-07-20 19:47] jojo786 opened #133 "Software Folklore"
https://www.thoughtworks.com/insights/blog/software-folklore contains absolute gems like Hofstadter's law and Zawinkis Law

[2019-07-22 13:57] #75 closed

[2019-07-22 14:07] dwmkerr opened #134 "Confirmation Bias"
This is actually a massively important one for anyone who needs to be able to reason about problems/evidence/solutions etc.

[2019-07-22 14:08] dwmkerr opened #135 "Selection Bias"
See also #134. Another essential law for general critical thinking/reasoning.

[2019-08-12 04:06] dwmkerr opened #142 "chore: share peter principle & dilbert principle"
Share the new laws

- [x] Create template
- [x] Share Peter Principle (include @krips / https://www.linkedin.com/in/vikramkriplaney/)
- [x] Share Dilbert's Law (include @krips / https://www.linkedin.com/in/vikramkriplaney/)

[2019-08-12 04:06] dwmkerr commented on #55
Resolved with #76

[2019-08-12 04:06] #55 closed

[2019-08-12 04:06] dwmkerr commented on #54
Resolved with #76

[2019-08-12 04:06] #54 closed

[2019-08-17 05:53] dwmkerr opened #144 "Boy Scout Rule"
https://deviq.com/boy-scout-rule/

[2019-08-19 07:39] tobiasbueschel opened #145 "Rough consensus engineering"
https://doist.com/blog/decision-making-flat-organization/
https://tools.ietf.org/html/rfc7282

[2019-08-21 06:33] #142 closed

[2019-08-27 10:42] umutphp commented on #135
[Survivorship Bias](https://en.wikipedia.org/wiki/Survivorship_bias) (Survival Bias) can be also added to the document as a sub section of Selection Bias or a separate section.

During development, we can sometimes focus on the errors caught in regular tests too much so that we forgot that there might be forgotten flows or unspotted errors.

[2019-08-31 19:06] rohitchormale opened #148 "Goodhart's law"
[Law says](https://en.wikipedia.org/wiki/Goodhart%27s_law),

In [this](https://arxiv.org/abs/1809.07841) paper, authors tried to apply it to very interesting use case.

[2019-09-23 15:46] aloisdg commented on #24
Relative to #23

[2019-10-07 06:28] dwmkerr commented on #20
Done with PR #150

[2019-10-07 06:28] #20 closed

[2019-10-29 05:51] dwmkerr opened #153 "CAP Theorem / Greenspun's Tenth Rule"
### Greenspun's Tenth Rule.

Greenspuns tenth rule states the opinion that systems can be built and extended using common lisp and any attempt to build such a system in any other language would be a partial implementation of lisp.

Another interpretation to this rule would be an advice to not implement a domain specific language (DSL) interpreter in the application, instead depend on the excellent

[2019-11-04 18:12] avimar opened #157 "12 factor app"
https://12factor.net/

[2019-11-04 18:20] avimar commented on #148
More accessible:

Pretty nice writeup: https://coffeeandjunk.com/goodharts-campbells-law/

[2019-11-05 02:25] dwmkerr commented on #157
Great idea!

[2019-11-05 02:25] dwmkerr commented on #148
Nice suggestion will look into adding this too!

[2019-11-05 05:43] rohitchormale commented on #148
Thanks for link. Good read.

[2019-11-05 16:16] mdwhatcott opened #158 "Wiio's Law"
https://en.wikipedia.org/wiki/Wiio%27s_laws

[2019-11-06 05:23] dwmkerr commented on #158
Love it, will add it soon!

[2019-11-06 22:42] umutphp opened #159 "Linus's law"
The law was formulated by Eric S. Raymond in his essay and book The Cathedral and the Bazaar (1999), and was named in honor of Linus Torvalds.

A more formal statement is:

[https://en.wikipedia.org/wiki/Linus%27s_law](https://en.wikipedia.org/wiki/Linus%27s_law)

[2019-11-07 02:42] dwmkerr opened #160 "Wirth's Law"
https://en.wikipedia.org/wiki/Wirth's_law

Initially from:

https://www.reddit.com/r/programming/comments/drcxf4/hacker_laws_update_metcalfes_law/f6iauhp/?context=3

[2019-11-08 15:43] den-is opened #163 "Dunning–Kruger effect"
https://en.wikipedia.org/wiki/Dunning%E2%80%93Kruger_effect

![The+Dunning-Kruger+Effect](https://user-images.githubusercontent.com/5287237/68489025-b9c3ff80-025f-11ea-81c6-3d505246174d.png)

Which somehow looks like "The Hype Cycle & Amara's Law" But I believe Dunning-Krugger is more official and genuine therm.

[2019-11-12 02:20] dwmkerr commented on #163
Love it, a well known effect in psychology and very relevant for tech. Will find a way to bring it in!

[2019-11-12 08:36] dwmkerr opened #166 "Byzantine Generals / Interactive Consistency"
https://en.wikipedia.org/wiki/Byzantine_fault

Relates to consensus in distributed or unreliable systems.

[2019-11-14 19:04] abetusk opened #168 "Gervais Principle"
Gervais Principle
---

Note: "The Losers are not social losers (as in the opposite of “cool”), but people who have struck bad bargains economically – giving up capitalist striving for steady paychecks."

[Source](https://www.ribbonfarm.com/2009/10/07/the-gervais-principle-or-the-office-according-to-the-office/)

[2019-11-14 19:05] abetusk opened #169 "Gilder's Law"
Gilder's Law
---

[Source](https://www.netlingo.com/word/gilders-law.php)

[2019-11-14 19:06] abetusk opened #170 "Pareto's Principle"
Pareto's Principle
---

[Wikipedia](https://en.wikipedia.org/wiki/Pareto_principle)

[2019-11-14 19:07] abetusk commented on #170
whoops, already exists, sorry

[2019-11-14 19:07] #170 closed

[2019-11-14 19:09] abetusk opened #171 "Spolsky's Observation"
Spolsky's Observation
---

Note: In this context, there are 'substitutes' and 'compliments', where a substitute is a product you buy that replaces the core product and a compliment is a product you buy with the core product.

[Source](https://www.gwern.net/Complement)

### Ucaetano's Addendum to Spolsky's Observation

[Source](https://news.ycombinator.com/item?id=17048329)

[2019-11-14 19:11] abetusk opened #172 "Swanson's Law"
Swanson's Law
---

[Wikipedia](https://en.wikipedia.org/wiki/Swanson's_law)

[2019-11-14 19:12] abetusk opened #173 "Wagner's Law"
Wagner's Law
---

[Wikipedia](https://en.wikipedia.org/wiki/Wagner%27s_law)

[2019-11-22 02:35] #148 closed

[2019-11-22 02:42] dwmkerr opened #175 "Automate the Socialisation Process"
Automate the process of:

1. Posting to LinkedIn
2. Posting to Reddit
3. Posting to Twitter
4. Posting to Hacker News

Most of these have APIs, might speed up the sharing process a bit. It won't, but it might be fun.

[2019-11-22 07:04] jgeisler0303 opened #177 "Pournelle's Iron Law of Bureaucracy"
Pournelle's Iron Law of Bureaucracy states that in any bureaucratic organization there will be two kinds of people":

https://www.jerrypournelle.com/reports/jerryp/iron.html

[2019-11-22 08:08] umutphp commented on #177
@jgeisler0303 It is also very closely related to [Iron law of Oligarchy](https://en.wikipedia.org/wiki/Iron_law_of_oligarchy) by Roberts Michels. The second kind of people will become the oligarch of the organization.

[2019-11-22 14:00] lonetwin opened #180 "The Zen of Python"
Would you consider adding the [The Zen of Python](https://en.wikipedia.org/wiki/Zen_of_Python) ?

[2019-11-22 14:05] lonetwin opened #181 "Principle of least astonisment"
[Source](https://en.wikipedia.org/wiki/Principle_of_least_astonishment)

[2019-11-24 12:13] pyrige opened #187 "Manifesto for Software Craftsmanship"
I think the **Manifesto for Software Craftsmanship** would make a decent addition, even if I wouldn't exactly know where to put it. It also already comes with a bunch of translations.

but also **well-crafted software**
Not only responding to change,
but also **steadily adding value**
Not only individuals and interactions,
but also a **community of professionals**
Not only customer collaboration,

[2019-11-28 06:07] dwmkerr commented on #180
Yep sounds like a sensible addition!

[2019-11-28 06:07] dwmkerr commented on #181
Makes a lot of sense I'd add https://en.wikipedia.org/wiki/Convention_over_configuration as well, will create an issue for that

[2019-11-28 06:07] dwmkerr opened #189 "Pattern: Convention over Configuration"
https://en.wikipedia.org/wiki/Convention_over_configuration

[2019-11-28 07:46] dwmkerr commented on #187
Yep makes sense - a bit like the Agile Manifesto and the Zen of Python, or the 12 factor app, collections of principles are a good thing to add (see also #180)

[2019-11-28 07:46] dwmkerr opened #191 "The 12 Factor App"

[2019-11-28 08:05] umutphp commented on #187
Hi @dwmkerr ,
A new chapter/section with name "Manifestos" can be added to the article for such kind of contents.

[2019-11-29 09:12] dwmkerr commented on #191
Whoops, closing in favour of #33

[2019-11-29 09:12] #191 closed

[2019-12-10 13:50] #70 closed

[2019-12-12 01:26] midhun-at-vineti opened #196 "CAP Theorem"
https://en.wikipedia.org/wiki/CAP_theorem

[2019-12-21 10:31] dwmkerr opened #198 "feat: Hacker Laws CLI"
A simple CLI (as a separate repo) which can:

1. Show a random law
2. List laws
3. "announce" a law, by firing it up to twitter, LI, reddit etc

Point 3 would speed up the process of sharing updates.

[2019-12-25 14:30] umutphp commented on #198
Hi @dwmkerr;
I have two questions about this issue :)

- Do you want to do it on your own or ask for contribution?
- What do you think about having a simple web site (showing random law on home page, a list page and share buttons for all laws) instead of CLI?

[2019-12-26 06:59] srijanshetty commented on #198
@dwmkerr, I agree with @umutphp. I like how http://cheat.sh/ works, you just curl a webpage and get plaintext data and leaves the user with an optionality to use their favorite client to get information.

[2020-01-07 16:26] smitty1eGH commented on #177
These Iron Laws make aristocracy sound like a bad thing.

[2020-01-19 04:06] dwmkerr commented on #198
@umutphp totally happy for a contribution! @srijanshetty agreed, I love how `cheat.sh` works. I'll take a look at domain names but in the meantime happy for anyone to suggest a simple design for how we would structure it in the code (I've done a few static sites based on Hugo now which have been easy to work with, but if we want a `curl`-able site a simple web server might be needed to handle the

[2020-01-20 11:54] umutphp commented on #198
Hi @dwmkerr,
As far as I know, HUGO (you said that you are familiar with) can be configured to serve content in multiple output formats (HTML and JSON together). We can create a simple site with a home page listing all the laws, detail pages for all laws and JSON api end points for the two type of pages.

For CLI, I suggest to implement it so it fetches the list of laws and shows a random law. A s

[2020-01-22 08:36] slinkydeveloper opened #200 "Universal Scalability Law"
USL is a modern version of Amdahl's law:

It's widely discussed in some of Neil Gunther papers, like:

* https://arxiv.org/abs/0809.2541
* https://arxiv.org/abs/0808.1431

And in his own book [Guerilla Capacity Planning](https://www.springer.com/gp/book/9783540261384)

[2020-01-27 14:38] dwmkerr opened #202 "RFC: Schrödinger's Backup?"
This is not a law which has been formalised, rather an interesting thread on reddit. However, this _is_ a highly useful concept for technology. Open to comments on whether it is a valid candidate for the list or not.

Source:

https://www.reddit.com/r/sysadmin/comments/9kiyju/schr%C3%B6dingers_backup_the_condition_of_any_backup/

[2020-01-30 18:42] 1t1e1 commented on #198
Hi. I want to learn and eventually get a job. I like this issue.

I wrote a simple server with instinct [here](https://github.com/1t1e1/hacker-laws-server)

I examined HUGO a little bit. I want to do it.

[2020-02-06 08:22] csparpa opened #205 "Hick–Hyman Law"
Decision time grows logarithmically with the number of options you can choose from:

![image](https://user-images.githubusercontent.com/5172190/73918386-d7861c80-48c1-11ea-98cf-fde81324c2f4.png)

This relates to cognitive information capacity

https://en.wikipedia.org/wiki/Hick%27s_law

[2020-02-17 17:53] myelsukov opened #208 "Better name for the repo"
The collection is great! The name of the repo is confusing though.
The definition of the `hack` assumes abuse of the laws.
In other words: hackers don't care about laws.

I know, it's hard to find good names :)
https://martinfowler.com/bliki/TwoHardThings.html

[2020-02-17 18:27] davidglassborow commented on #208
https://en.wikipedia.org/wiki/Hacker

[2020-02-17 18:37] jwilk commented on #91
This was added in PR #149.

[2020-02-17 20:12] gregfjohnson opened #211 "Suggestion: Jon Bentley's "Bumper Sticker Computer Science""
Jon Bentley has a beautiful collection of Rules, Principles, and Aphorisms entitled "Bumper Sticker Computer Science".  You may already be familar with it.

There is some overlap between his list and yours, but I think you would enjoy reading it and using rules that are not yet on your list.

Here is one example, in the section on prototyping:

[Thompson’s rule for first-time telescope makers] It

[2020-02-17 21:08] scooby commented on #163
Maybe add this reference to clarify that this is a common misrepresentation of DK.

https://www.talyarkoni.org/blog/2010/07/07/what-the-dunning-kruger-effect-is-and-isnt/

[2020-02-17 23:16] YokoZar opened #212 ""Yak Shaving" is not an "alternative term" for bike-shedding."
The law of triviality section currently says:

This isn't quite right.  Yak shaving is when you _need_ to do a bunch of seemingly unrelated tasks in a complex chain of dependencies in order to solve the original problem.  Changing a lightbulb requires getting a new bulb which requires going to the store which requires figuring out why the car won't start which requires calling your friend who know

[2020-02-17 23:25] kthy commented on #212
Huh, just came here to raise the same issue. 🙂

[Origin of yak shaving](http://projects.csail.mit.edu/gsb/old-archive/gsb-archive/gsb2000-02-11.html).

[2020-02-17 23:43] myelsukov commented on #208
True, but...

Wikipedia: `While "hacker" can refer to any skilled computer programmer, the term has become associated in popular culture with a "security hacker", someone who, with their technical knowledge, uses bugs or exploits to break into computer systems. `

Also check definitions from Google and Merriam-Webster : https://www.google.com/search?q=definition+hacker

The `technical expert` mean

[2020-02-18 02:33] dwmkerr opened #213 "RFC: Moyle's Law"
Source:

https://news.ycombinator.com/item?id=22349259

[2020-02-18 03:33] stevemao opened #214 "Missing "Principle of Least Power""
https://en.wikipedia.org/wiki/Rule_of_least_power

[2020-02-18 06:38] srijanshetty commented on #208
@myelsukov: while 'technical expert' may not be the first or second definition. It's also common in urban legends to associate hackers with a strict 'code'. This repository is an allusion to such code, if hackers can have a 'code', they can also have 'laws' :smile:

[2020-02-18 07:39] asafamr opened #216 "Fredkin's paradox"
https://en.wikipedia.org/wiki/Fredkin%27s_paradox

(Edward Fredkin)

when two options seem equally good teams spend more time discussing nuances

e.g. yaml vs json

related but distinct from bike shedding

[2020-02-18 09:58] jonipichoni opened #218 "Dunning–Kruger effect"
Would you consider [Dunning–Kruger effect](https://en.wikipedia.org/wiki/Dunning%E2%80%93Kruger_effect) ?

Why are the least competent people usually the most confident ones?

[2020-02-18 10:11] pmachart opened #219 ""There are three kinds of lies: lies, damned lies, and statistics.""
"Lies, damned lies, and statistics" is a phrase describing the persuasive power of numbers, particularly the use of statistics to bolster weak arguments. It is also sometimes colloquially used to doubt statistics used to prove an opponent's point.

https://en.wikipedia.org/wiki/Lies,_damned_lies,_and_statistics

Corollary :

76% of people are more likely to accept whatever statement you make, as l

[2020-02-18 17:34] myelsukov commented on #208
IMHO the best positive definition for the hacker is: `Hacker is a person who does smart things for fun`. I think this article gives a brilliant example of the hacking activities: [Abusing Linux's firewall: the hack that allowed us to build Spectrum](https://blog.cloudflare.com/how-we-built-spectrum/)

Most of the laws and principles mentioned in this repository though are very serious and have not

[2020-02-19 06:08] dwmkerr commented on #163
also see https://www.talyarkoni.org/blog/2010/07/07/what-the-dunning-kruger-effect-is-and-isnt/

[2020-02-19 06:11] dwmkerr commented on #91
Resolved in #149, thanks @jwilk

[2020-02-19 06:11] #91 closed

[2020-02-19 06:12] dwmkerr commented on #218
Yes indeed - closing this issue in favour of #163 which has some more references and details!

[2020-02-19 06:12] #218 closed

[2020-02-19 06:19] dwmkerr commented on #208
Now _this_ could be a long conversation 😄

I totally agree that much of the content is now actually relevant to almost anyone working in technology, delivery, or even just in large organisations! However, when I was trying to think of a name I couldn't find one which didn't sound too 'dry' (computer science laws, common principles in technology etc), 'Hacker' implied perhaps a bit a more informal

[2020-02-19 06:22] dwmkerr opened #223 "Add 'Single Source of Truth'"
Relates to DRY, see also:

#207

https://en.wikipedia.org/wiki/Single_source_of_truth

[2020-02-19 10:05] KevinBockelandt opened #225 "French Translation"
I took a look on [GitLocalize](https://gitlocalize.com/repo/2513) to help with the French translation but it seems I cannot create a new language entry myself.

Can you add me if you're interested?

[2020-02-19 11:24] viktodergunov opened #227 "German Translation"
Hey, I would like to make a German Translation.
Could you add me if you're interested?

[2020-02-19 15:50] darekkay commented on #198
For this use case, I have created [Tip of the Day](https://tips.darekkay.com/html/hacker-laws-en.html) - you can view one random (shuffled) hacker law/principle per day (HTML, JSON, RSS).

[2020-02-19 15:54] darekkay opened #229 "Daily law/principle"
Thank you very much for this project. I've included the laws/principles in my [Tip of the Day](https://tips.darekkay.com/html/hacker-laws-en.html) project. It displays one random (shuffled) law/principle per day (HTML, JSON, RSS). If you think it's worth including it in your project's README, I would create a pull request. Otherwise, you may just close this issue :)

[2020-02-19 16:05] arywidiantara opened #230 "Bahasa Translation"
Hello @dwmkerr may I create new pull request for translating to Bahasa Indonesia? thanks

[2020-02-19 16:37] myelsukov commented on #208
I think the reasons why **not to change the name** make perfect sense :)
May be we should find and add to the list a law and/or principle that says that `You will always want to change the name` :)

[2020-02-19 17:16] yoneda opened #231 "Japanese Translation"
Hi. Thank you for good writing.
That sounds nice to translate into Japanese.
Look forward to read this deeply.

[2020-02-20 01:14] peternlewis opened #233 "Typo in “The Open/Closed Principle”"
I'm not sure entirely what this is supposed to be saying, but it isn't this:

[2020-02-20 02:56] dwmkerr commented on #211
Awesome, will take a look into this! It sounds like adding a 'Further Reading' section would also be good, so we can link to similar lists or more detailed lists, WDYT?

[2020-02-20 02:59] dwmkerr commented on #212
Excellent - sounds like this definitely needs refining @YokoZar! There's also a related issue here #222

[2020-02-20 03:03] dwmkerr commented on #214
Excellent suggestion, thanks!

[2020-02-21 01:53] dwmkerr commented on #225
Awesome, thanks @KevinBockelandt! I've just made you the language admin :)

![Uploading image.png…]()

[2020-02-21 01:56] dwmkerr commented on #227
Awesome! I've made you the `de` admin, thanks so much @viktodergunov!

[2020-02-21 01:56] dwmkerr commented on #227
![image](https://user-images.githubusercontent.com/1926984/74997150-6da86e00-5490-11ea-8976-fc601a390985.png)

[2020-02-21 01:58] dwmkerr commented on #230
That would be awesome! Can you create an account on GitLocalize and I'll make you the admin Terima kasih!

[2020-02-21 02:04] dwmkerr commented on #229
That's awesome, I'd love to include it in the README! Please do go ahead and go for it with a PR, feel free to take a call on where makes sense, I'll merge so you are in the contributors list (I want to add a proper 'contributors' section!) then I can shuffle it around if needed!

[2020-02-21 02:05] dwmkerr commented on #208
:smile: - it's like naming a band. The music is easy, but what name do we pick? Happy memories of fierce arguments when I was a younger man ("NO! It shouldn't be "Drive Belt Laceration", it should be "Exorcise in Futility" - naming metal bands is the most fun)

[2020-02-21 02:06] dwmkerr commented on #208
I kind of want to keep this issue open and let the discussion flow over time, then reference it a bit like @myelsukov said as 😁

[2020-02-21 02:07] dwmkerr commented on #231
@yoneda - that would be awesome! Would you be OK to log on to GitLocalize and I'll make you the admin for Japanese?

[2020-02-21 14:06] troyane opened #236 "Ukrainian translation"
Great reading! Would like to help to make Ukrainian translation :ukraine:

[2020-02-21 14:41] iegik opened #237 "Latvian translation"

[2020-02-22 06:49] dwmkerr commented on #236
Awesome! @troyane if you sign in to GitLocalize and let me know when you've got an account I'll make you the author of the Ukrainian translation, thanks so much!

[2020-02-22 06:50] #237 closed

[2020-02-22 09:58] troyane commented on #236
@dwmkerr never used GitLocalize before. But I've already signed in, https://gitlocalize.com/users/troyane

[2020-02-22 11:58] dwmkerr commented on #236
Excellent, I've just added you as a moderator!

![image](https://user-images.githubusercontent.com/1926984/75091920-835f8580-55ad-11ea-8b75-e3ff27918bfb.png)

I'll also link you to the convo we are having on translations, #234

[2020-02-22 13:03] yoneda commented on #231
@dwmkerr
Wow, It's time to log my translation on GitLocalize.
I'm so happy to be admin for Japanese. thanks.

[2020-02-22 15:45] iegik opened #240 "Russian translation"
Why not in same repository?

Discussion in russian language: https://github.com/solarrust/hacker-laws/issues/32

[2020-02-22 21:12] troyane commented on #236
@dwmkerr my friend, how could I add translators/moderators for language?

[2020-02-23 04:49] sfuerte opened #242 "The Privacy Engineer's Manifesto"
Any pros/cons of and valuing in adding this one?

Source - https://www.apress.com/gp/book/9781430263555

[2020-02-23 21:04] darekkay commented on #229
Thanks! I've created a [PR](https://github.com/dwmkerr/hacker-laws/pull/243).

[2020-02-24 09:49] dwmkerr commented on #240
Yes in general it is probably easier to manage in the same repo. We're using GitLocalize to manage translations - this allows moderators to see changes as they come in and update them. There's a discussion on this in issue #234.

[2020-02-24 10:44] dwmkerr commented on #231
No worries! Let me know if you run into any issues, and feel free to share any thoughts on issue #234 !

[2020-02-24 19:45] nnnn20430 commented on #208
@myelsukov it's not just for fun, a hacker can be someone who solves serious problems with unorthodox outside the box thinking.

my own personal definition of a hacker, is an ethically minded technical activist, whether or not their activism, and sense of justice, leads them to a dark criminal path of hacking governments etc... a hacker is someone concerned with, and explores, the human condition

[2020-02-24 19:55] myelsukov commented on #208
Well, it's a slippery slope. A bunch of activists (read revolutionists) who considered themselves "ethically minded with good sense of justice" screwed my native country so badly that it is not fully recovered even 100+ years since their "activities". You can find numerous examples of "good sense of justice" that led to catastrophes in human history.

[2020-02-24 20:57] Thrilleratplay commented on #208
@myelsukov  That cuts both ways.  Regardless of intent, actions or success, would you say that all revolutionaries are bad?  Due to a group's actions, unintentional or otherwise, created long term issues for your native country, should the term revolutionist be deemed pejorative?  I don't believe anyone here is saying all hackers are or all hacking strictly good or bad; it is term that historicall

[2020-02-24 22:46] myelsukov commented on #208
@Thrilleratplay

Even though this discussion is off-topic, my simple answer is: "All revolutionaries are bad" :) I consider several rare cases of "successful" revolutions as exceptions to the general rule. I always prefer evolution to revolution. But it's just me, YMMV :)

No, my point is different. Most of the laws mentioned in this repository are unrelated to the Software/Hardware problems even

[2020-02-25 02:04] dwmkerr commented on #208
This is way off topic, but just to chip in in the spirited debate, I think that "All revolutionaries are bad" is a tough stance.

As an example, the suffragette movement were revolutionaries (militant even), their activism was instrumental in allowing women the right to vote. On a topic like this there are always going to be very challenging issues (one man's terrorists is another man's freedom fi

[2020-02-25 05:31] DavidAnson opened #245 "Consider adding Fitts’s law"
https://en.wikipedia.org/wiki/Fitts's_law

[2020-02-25 15:25] dwmkerr opened #247 "RFC: How can we make life easier for translators?"
Hi again translators! Opening a new issue after merging #234, feel free to continue sharing any ideas or comments on what I can do or we can do to make life easier for people translating the project.

I cannot thank you all enough for taking the time and making the effort, it's amazing to see the effort you've been putting in, thank-you 😄

@LeoFC97 @nusr @viktodergunov @KevinBockelandt @0gap @cspa

[2020-02-25 15:26] dwmkerr commented on #247
(Copying @KevinBockelandt's suggestions here so that the ideas so far are in one place)

Hello everyone,

I think it does yes. Or you could ask for each language moderator to check the corresponding PRs before merging them yourself, which is fine by me too.

Yep, after using it for a few hours there are few things that could make the task easier I think:

#### All the links internal to the documen

[2020-02-25 15:45] iegik commented on #247
https://github.com/mtdvio/every-programmer-should-know

[2020-02-25 17:27] #229 closed

[2020-02-27 19:56] gromovadarya90 opened #248 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-29 13:03] dwmkerr commented on #247
Hi friends, I have some updates from the GitLocalize team!

please try it out and we are open for any feedback.

Sergei (@svasilenkov) and Ilya @ilyaspiridonov) have mentioned they're happy for any feedback!

[2020-03-01 09:52] RubenVerg commented on #208
"The time to name something is square the time of makinga first working version of it."

[2020-03-13 13:41] umutphp commented on #198
Hi @dwmkerr and All,

I have finished implementing a simple CLI (with Go to show my excellent skills :) ) which covers the first and second requirements. All kind of feedbacks and contributions are welcomed.

Repo: [https://github.com/umutphp/hacker-laws-cli](https://github.com/umutphp/hacker-laws-cli)

[2020-03-15 05:11] dwmkerr commented on #198
Looks really cool! I'm going to add a link and a screenshot to the main repo so people can see where to get it and then I think we can close this issue! I'll also share an update on this 😄

[2020-03-15 05:14] #198 closed

[2020-03-19 08:54] KevinBockelandt commented on #225
Translation is now [done and online](https://github.com/dwmkerr/hacker-laws/blob/master/translations/fr.md), so I guess we can close the issue :)

[2020-03-19 08:54] #225 closed

[2020-03-22 09:29] dwmkerr commented on #225
Awesome, thanks @KevinBockelandt!

[2020-03-23 12:01] Glyphack opened #260 "Ebook from hacker laws content"
I was thinking is there any ebook version of this repo for reading on ebook readers available?

[2020-03-23 21:55] umutphp commented on #260
Hi @Glyphack and @dwmkerr,

I had some time (thanks to covid-19 lockdown) to make a quick PDF generation by using `pandoc` command. The result is attached.
[hacker-laws.pdf](https://github.com/dwmkerr/hacker-laws/files/4372074/hacker-laws.pdf)

I have removed the table of content section and translation sections from README before executing the following command.

[code]

[2020-03-25 17:19] TheBusyBiscuit commented on #227
Since there hasn't been much activity on this language, I have taken the liberty to do a few translations myself already.
I will probably contribute a few translations every so often but it can take quite a while to finish.

I am just letting you know :)

[2020-03-25 18:37] eugenioamn opened #262 "Want to help"
Hello!

If possible, I would like to help translating and updating the repository to portuguese (Brazil). Also, I've made some corrections and sent a pull request.

[2020-03-26 00:02] mo-gr opened #263 "Add the (George) Box law"
It goes something like this: "All models are wrong, but some are useful" (source https://en.wikipedia.org/wiki/All_models_are_wrong)

It is a variation of "All abstractions are leaky", but it is different enough to be mentioned explicitly, imho

[2020-03-28 16:48] smoyer64 opened #265 "Add a moderation citation to "The Robustness Principle""
The Robustness Principle or Postel's law should include a citation to the ACM paper titled [The Robustness Principle Reconsidered](https://queue.acm.org/detail.cfm?id=1999945).  This paper (properly) describes the security flaws and other errors that can creep into a system that accepts an overly broad set of input.

[2020-03-29 14:25] gribok opened #266 "Add Gustafson's law"
Gustafson's law is based on Amdahl's law.
It describes the theoretical speedup in latency of the execution of a task at fixed execution time that can be expected of a system whose resources are improved.

See https://en.wikipedia.org/wiki/Gustafson%27s_law.

[2020-03-30 07:37] dwmkerr commented on #227
Great! Just give me a shout if anything needed :)

[2020-04-03 05:57] dwmkerr commented on #262
Sure thing @eugenioamn! If you Log On to 'GitLocalise' and let me know when you are done, I can make you a moderator of the Brazilian translation, would be great to get some help!

[2020-04-03 09:40] eugenioamn commented on #262
Thank you! I've just done that. What do I need to do now? Here is the code, if needed:

`[![gitlocalized ](https://gitlocalize.com/repo/4238/pt-BR/badge.svg)](https://gitlocalize.com/repo/4238/pt-BR?utm_source=badge)`

[2020-04-06 03:03] dwmkerr commented on #262
All done! You are a moderator of the `pt-BR` translation and should be able to add translations via GitLocalise! Thanks so much for the help :smile:

[2020-04-06 03:03] #262 closed

[2020-04-06 20:00] eugenioamn opened #269 "GitLocalize "Conflict" status"
I can't edit the pt-BR translation because I'm getting an error while trying to access the respective file on GitLocalize: [error image](https://imgur.com/a/jdSQf2Y). How to solve this?

[2020-04-08 05:36] dwmkerr commented on #269
I'm checking with the GitLocalise team now and will let you know when solved, looks like it is broken for me at the moment too, cannot add another language

[2020-04-09 06:50] dwmkerr commented on #269
Can you try again now? There was an issue with the project which I think they've fixed now

[2020-04-09 16:41] eugenioamn commented on #269
The problem was not solved for me. It says "The resource is now syncing. Please refresh the page in a minute.", but when I refresh the page, nothing changes, that message is still there. Also, the status is still "Conflict". What if you remove me from there and add me again?

[2020-04-23 03:57] eugenioamn commented on #269
I don't know what happened, but the problem is solved now.

[2020-04-23 03:58] #269 closed

[2020-05-18 04:55] dwmkerr commented on #196
This is a really good one, bumping it to the top of the queue

[2020-05-19 09:25] puremana commented on #233
The spelling and grammar is correct, but I agree that it is a confusing statement

[2020-05-20 04:03] dwmkerr commented on #233
What about this? #275

As a hypothetical example, imagine a module which is able to turn a Markdown document into HTML. Now imagine there is a new syntax added to the Markdown specification, which adds support for mathematical equations. The module should be _open to extension_ to implement the new mathematics syntax. However, existing syntax implementations (like paragraphs, bullets, etc) should

[2020-05-20 05:04] puremana commented on #265
Can close I think 👍

[2020-05-20 05:17] dwmkerr commented on #265
TY!

[2020-05-20 05:17] #265 closed

[2020-05-20 05:20] peternlewis commented on #233
Sounds a lot clearer to me.

[2020-05-20 05:22] dwmkerr commented on #233
Cool, wanted a second pair of eyes, appreciate the review @peternlewis will merge and close :)

[2020-05-20 05:23] #233 closed

[2020-05-20 09:29] puremana commented on #263
My only issue with this is it seems to apply specifically in regard to statistics, not development

[2020-05-20 09:41] dwmkerr commented on #263
I'm inclined to think this could work for development. On the wikipedia page they use maps as an example- a map is not a perfect model of a city, it might even have mistakes, it doesn't have all the data, but is still use.

An APM tool could be a good example - it might show machines as individual hosts, but in reality they might be virtual machines on a rack, it's an abstraction, and an incomplet

[2020-05-27 03:32] dwmkerr opened #276 "feat: ACID"
Good ol' database ACID should be here. We need to link CAPs Theorem to it.

[2020-05-27 03:33] dwmkerr opened #277 "feat: PACELC theorem"
https://en.wikipedia.org/wiki/PACELC_theorem

In theoretical computer science, the PACELC theorem is an extension to the CAP theorem. It states that in case of network partitioning (P) in a distributed computer system, one has to choose between availability (A) and consistency (C) (as per the CAP theorem), but else (E), even when the system is running normally in the absence of partitions, one has

[2020-05-27 03:48] #196 closed

[2020-06-04 09:21] puremana commented on #245
Thanks for making this issue. It was a very interesting law to have a look into.

[2020-06-05 04:22] #245 closed

[2020-06-06 22:13] igbanam commented on #260
This is amazing. Thank you ❤️

[2020-06-06 22:17] igbanam commented on #263
I don't know much about the law — and haven't researched it since I'm browsing through issues here — but in my opinion, I think this also pertains to development.

From forming teams… we have a model of team integration which always changes. Our original model was wrong, but it sure was useful.

Through building the software… requirements engineering is still not a deterministic science. My ground

[2020-06-09 02:29] dwmkerr commented on #263
Not rubbish @igbanam, I agree, think this is a useful law here!

[2020-06-09 02:55] puremana commented on #263
I stand corrected I guess 😀

[2020-06-09 04:13] dwmkerr commented on #263
lol @puremana your profile picture fits that statement really well! OK I think I'll add this to the list when I get some time soon!

[2020-06-09 04:15] mo-gr commented on #263
Really great to see such a thoughtful and on-topic discussion about this. Thanks everyone for being so awesome!

[2020-06-09 06:24] dwmkerr commented on #263
@mo-gr there's so much unpleasant stuff on the internet, it's always great to see thoughtful and constructive discussions! 😄

[2020-06-09 08:28] puremana commented on #205
Your explanation turned out to express the law beautifully in such a simple manner. I hope you don't mind me using it.

Interesting law. Relates somewhat to the previous law I did, Fitts law, which was quite surprising.
Thanks!

[2020-06-10 01:06] dwmkerr commented on #205
Agreed! Thanks for the pull request @puremana and the suggestion @csparpa, will merge this one in today!

[2020-06-10 01:07] #205 closed

[2020-06-10 05:49] dwmkerr commented on #260
![image](https://user-images.githubusercontent.com/1926984/84231614-1acaf300-ab21-11ea-9bc0-4293b36537c4.png)

I've also added a script in the assets folder which generates the ebook. It's a little dirty, but I might do something like add it as a release automatically on a push to master, if people would find it useful1

[2020-06-10 22:08] xp-vit opened #286 "Add Hanlon's razor"
https://en.m.wikipedia.org/wiki/Hanlon%27s_razor#:~:text=Hanlon's%20razor%20is%20an%20aphorism,unlikely%20explanations%20for%20human%20behavior.

And as example of it all kind of Intel CPU failures.

[2020-06-11 05:11] dwmkerr commented on #286
It's already in 😄

https://github.com/dwmkerr/hacker-laws#hanlons-razor

[2020-06-11 05:11] #286 closed

[2020-06-26 06:31] dwmkerr opened #288 "feat: Neven's Law (Moore's Law of Quantum Computing)"
https://en.wikipedia.org/wiki/Hartmut_Neven#Neven's_law

This is an interesting law which is the quantum computing equivalent of Moore's Law.

[2020-06-26 06:33] dwmkerr opened #289 "The Two Pizza Rule"
A good description here:

http://blog.idonethis.com/two-pizza-team/

This is a great rule in terms of team sizes, but it also touches on things like cognitive capacity, overheads, etc. I think it's quite relevant.

[2020-06-26 06:35] dwmkerr opened #290 "Zimmerman's Law"
https://en.wikipedia.org/wiki/Phil_Zimmermann#Zimmermann's_Law

[2020-06-30 05:19] dwmkerr opened #291 "The Cobra Effect"
https://en.wikipedia.org/wiki/Cobra_effect

This is an interesting one, in some ways it ties into Gall's Law and "Reward Hacking".

[2020-06-30 06:08] umutphp commented on #291
Yes, this should be in the document :). Any software developer has already created a cobra effect at least once in one of his/her projects.

[2020-07-04 04:19] AnimMouse commented on #260
Hi! I have just created an [automated PDF ebook creator](https://github.com/AnimMouse/hacker-laws-ebook) using GitHub actions using the script in assets.

[2020-07-09 18:13] AnimMouse opened #293 "Add Handicap principle"
Handicap principle denotes that the more costly it is to make a signal, and the more costly it is to be caught if that signal is dishonest, the more reliable that signal appears.

See also: Status symbol, Not-invented-here syndrome, Endowment effect, Eating your own dog food

Examples:

When people prefer to use a program that is written in C than programs that are written on Python.

When people

[2020-07-10 08:06] SuperSandro2000 commented on #293
The only example which is not generally true here. If I just setup WSL on Windows I can entirely use Linux.

[2020-07-12 22:56] eluttner opened #294 "Pesticide Paradox"
Boris Beizer, in his book Software Testing Techniques (1990) coined the term pesticide paradox to describe the phenomenon that the more you test software, the more immune it becomes to your tests.

Just like, if you keep applying the same pesticide, the insects eventually build up resistance and the pesticide no longer works. Software undergoing the same repetitive tests build resistance to them,

[2020-07-12 23:01] eluttner opened #295 "Tom Gilb's quote [Gilb 2005] [Carroll 1865]"
Alice in Wonderland:

◦ “- Would you tell me please, which way I ought to go from here?
- That depends a good deal on where you want to get to, said the cat. - I don't much care where -, said Alice.
- Then it doesn't matter which way you go, said the cat.”

This is the Software Requirements nightmare. Usually goals are not cleary defined, but software production has to start. There is a field call

[2020-07-17 11:09] #159 closed

[2020-07-17 11:31] umutphp opened #296 "The Law Of Diminishing Returns"
[The Law Of Diminishing Returns](https://en.wikipedia.org/wiki/Diminishing_returns) (a law from economics) can be added to the "See also" section of [Brooks' Law](https://github.com/dwmkerr/hacker-laws#brooks-law) to support the statement.

[2020-07-28 01:06] adambricelis opened #298 "Grammar in Fitts' Law and The Fallacies of Distributed Computing"
The [section on Fitts' Law](https://github.com/dwmkerr/hacker-laws#fitts-law) states the following: `It also formalises the concept of 'magic corners', the corners of the screen which a user can 'sweep' their mouse too to easily hit - which is where key UI elements can be placed.` The phrase `mouse too to easily hit` should use `to` instead of `too` and the sentence should be rearranged to avoid a

[2020-07-28 12:19] smoyer64 commented on #213
I just noticed that you followed up our discussion on HN with this entry.  I just wanted you to know that it's the corollary that makes this law ironic (and in a way - sad).

[2020-07-31 08:02] schoetbi opened #300 "Add the Dunning–Kruger effect"
In the field of psychology, the Dunning–Kruger effect is a cognitive bias in which people with low ability at a task overestimate their ability

See wikipedia: [Dunning–Kruger effect](https://en.wikipedia.org/wiki/Dunning%E2%80%93Kruger_effect)

[2020-07-31 11:59] schoetbi opened #301 "Add the Fundamental theorem of software engineering (FTSE)"
"We can solve any problem by introducing an extra level of indirection."
See: https://en.wikipedia.org/wiki/Fundamental_theorem_of_software_engineering

[2020-07-31 14:37] sw-yx commented on #301
we can also create more problems than we solve if we aren't careful!

[2020-08-03 14:24] gabrieljones opened #302 "Gustafson's Law"
https://en.wikipedia.org/wiki/Gustafson%27s_law

[2020-08-04 06:43] dwmkerr commented on #301
Love it - ties in nicely to:

- The Law of Leaky Abstractions
- The Box Law (#263)

[2020-08-04 06:43] dwmkerr commented on #300
Yep makes sense to include!

[2020-08-04 06:44] dwmkerr commented on #213
I know!

[2020-08-04 06:44] #298 closed

[2020-08-04 06:48] dwmkerr commented on #294
Fascinating, looks like a great addition!

[2020-08-04 06:49] dwmkerr commented on #293
Really interesting addition, will definitely bring it in!

[2020-08-04 07:34] dwmkerr opened #303 "Automation Bias"
https://en.wikipedia.org/wiki/Automation_bias

Could be an interesting one

[2020-08-06 07:55] guettli commented on #223
Yes, this single-source-of-truth is important. For me it is especially important for documentation.

Every term should have a canonical URL.

Related: https://github.com/guettli/programming-guidelines/blob/master/README.md#canonical-docs

[2020-08-12 20:15] puremana opened #305 "Rob Pike's 5 Rules of Programming"
In the rules section, in may be benefical to include [Rob Pike](https://en.wikipedia.org/wiki/Rob_Pike)'s 5 Rules of Programming.
[http://users.ece.utexas.edu/~adnan/pike.html](http://users.ece.utexas.edu/~adnan/pike.html)

[2020-08-26 09:14] #289 closed

[2020-08-27 05:07] SuperCipher opened #306 "Principle of least privilege"
https://digitalguardian.com/blog/what-principle-least-privilege-polp-best-practice-information-security-and-compliance
https://searchsecurity.techtarget.com/definition/principle-of-least-privilege-POLP
https://heimdalsecurity.com/blog/what-is-the-principle-of-least-privilege/

[2020-09-03 18:57] ustundag opened #307 "Add "The Paradox of Choice""

[2020-09-03 19:48] ustundag commented on #307
PR has opened. #308

[2020-09-12 13:21] dwmkerr opened #309 "Add "Zawinski's Law""
https://en.wikipedia.org/wiki/Jamie_Zawinski

[2020-09-17 07:03] dwmkerr commented on #126
FYI we have a Brazilian Portuguese translation now, so closing this, but if @LeoFC97 you want to contribute to it give me a shout and I'll add you as a contributor!

[2020-09-17 07:04] dwmkerr commented on #208
Good conversation on this issue, thanks all! I'll close now as it's late to change the name (particularly with the podcast and other blogs referring to it). Cheers all!

[2020-09-17 07:04] #208 closed

[2020-09-17 07:04] #126 closed

[2020-09-17 07:05] dwmkerr commented on #263
FYI this is the next one on the list to do I think, it's generated a good discussion and I see it all the time the more I think about it!

[2020-09-18 04:24] dwmkerr opened #310 "feat: CACE Principle"
https://papers.nips.cc/paper/5656-hidden-technical-debt-in-machine-learning-systems.pdf

[2020-09-23 14:02] #263 closed

[2020-09-30 06:34] dwmkerr commented on #260
Note: still need to link to the ebook in the main readme. Thanks all who commented on this thread - the setup now works like this:

- All pull requests will at least verify that the ebook _can_ be created
- If I push a version tag it'll create a new release with the ebook attached

All that is left is to link to the releases or latest ebook in the main readme and share this on social media :smile:

[2020-10-01 10:18] dwmkerr commented on #260
This is done now!

[2020-10-01 10:18] #260 closed

[2020-10-05 21:07] puremana opened #314 "Add Hacktoberfest Topic"
I plan on adding some of the built up law suggestions in issues but now that Hacktoberfest is running it may be a good idea to take advantage of people willing to contribute by adding a Hacktoberfest topic to the repo.

Thanks for all your hard work as always!

[2020-10-06 04:55] dwmkerr commented on #314
Great idea!

[2020-10-07 08:54] dwmkerr commented on #227
Looks like there's not much activity here so closing the issue, if there are any issues with translations feel free to open a new one!

[2020-10-07 08:54] #227 closed

[2020-10-07 08:55] dwmkerr commented on #236
@troyane just let me know if you need to add anyone else or raise a new issue if needs be! Closing this one for now

[2020-10-07 08:57] dwmkerr commented on #61
At the moment I think that the project works fine just as a plain old github project - if it looks like there's a lot of demand for a static site I will re-open the issue but I think I'll focus on more content for now instead!

[2020-10-07 08:57] #61 closed

[2020-10-07 13:17] troyane commented on #236
@dwmkerr What does it means that you are going to close it? Apply changes and publish ukrainian translation OR do nothing and close issue? It is still in progress. Have only few hours per week for this, and found few of the rules a bit difficult to translate. Would like to add translator(s) for more help.

[2020-10-09 09:41] tillchen commented on #144
It's a great rule!

[2020-10-09 13:13] umutphp commented on #144
I also think it is a great rule. It is very close to the notification message ("Leave it how you want to find") commonly used for public toilets in Turkey. So, It made me smile :)

[2020-10-12 07:05] dwmkerr commented on #236
Hi @troyane only that I'm closing this issue - feel free to let me know when you are ready with any translations - partial is fine:

https://github.com/dwmkerr/hacker-laws#translations

Lots of these are partial anyway :) If you need more people adding to GitLocalise or anything like that just open a new issue with their names etc and I can add them. You can either open a PR to add the translation

[2020-10-12 07:05] dwmkerr commented on #236
(Re-opening until there's a link on the homepage)

[2020-10-12 07:51] dwmkerr commented on #144
It's also commonly attributed to Uncle Bob so I think passes the test of coming from a good source 😄  I might add this one this week

[2020-10-12 08:19] troyane commented on #236
@dwmkerr could you please add @HelgaLastivka to Ukrainian translators, please?

[2020-10-12 08:44] troyane commented on #290
@dwmkerr it could be a great example of practical appliance of Moore's law.

[2020-10-12 09:16] troyane commented on #293
@AnimMouse I have never heard of "handicap principle" but this is really interesting one.
It brings Veblen effect as first association (https://en.wikipedia.org/wiki/Veblen_good) and an obesity as a sign of ability to procure or afford plenty of food.

I can hardly agree with your examples. Most are just examples of another principles: mostly KISS + Occam's razor.

Even with given assumption that

[2020-10-12 09:38] troyane commented on #309
At first look it sounds to me as a joke. Then, checked Wiki. Found that Zawinski himself called it the "Law of Software Envelopment". Eric S. Raymond commented that while this law goes against the minimalist philosophy of Unix (a set of "small, sharp tools"), it actually addresses the real need of end users to keep together tools for interrelated tasks, even though for a coder implementation of th

[2020-10-12 10:40] troyane opened #315 "Bring Pieter Hintjens ideas into Hacker Laws"
Since this collection called "hacker laws", I'd like to introduce one of great hackers -- Pieter Hintjens ([on wiki](https://en.wikipedia.org/wiki/Pieter_Hintjens), [on github](https://github.com/hintjens), [official site](http://hintjens.com/)) and emphasize his great ideas.

Here are few of cites from his book [Confessions of a Necromancer](http://hintjens.com/blog:125). Personally, his recommen

[2020-10-12 12:19] troyane opened #316 "Does MCVE (Minimal, Complete, and Verifiable examples) belongs to here?"
I'm referring to https://stackoverflow.com/help/minimal-reproducible-example

Good reading to understand how to ask questions in proper way.
Could be used alongside with Eric Raymod's book [http://www.catb.org/~esr/faqs/smart-questions.html](http://www.catb.org/~esr/faqs/smart-questions.html)

[2020-10-13 04:25] puremana commented on #314
Bump reminder 😄

[2020-10-20 13:16] harvey-green commented on #309
I think this law could be brought up to date a bit by changing it to "expand until it uses a Machine Learning API" or "expand until it can post to your Facebook timeline".

[2020-10-21 08:23] dwmkerr commented on #309
@troyane agreed it would need explanation, but I think it could be a good one, particularly with feature creep as a reference!

[2020-10-21 15:43] dwmkerr commented on #236
Hi @troyane @helgalastivka can Lastiva please login to GitLocalise so that their account is created and then I can add to the translators? Thanks!

[2020-10-22 08:45] HelgaLastivka commented on #236
Hi @dwmkerr, all is done.

[2020-10-22 08:48] dwmkerr commented on #236
Nice - I *think* @HelgaLastivka you should be able to edit any translation now:

![image](https://user-images.githubusercontent.com/1926984/96847894-4d4d0b00-1486-11eb-902d-97484793201e.png)

if you have any issues let me know - in the meantime I'll add a Ukrainian link to the front-page etc!

[2020-10-22 08:55] dwmkerr commented on #236
Add @troyane @HelgaLastivka I've made a PR to add to the front page #320

Would you mind letting me know if I've got the Ukrainian word for the Ukrainian language correct (I had to use Wikipedia), also if you prefer only first names/handles, etc, just give me a shout (I've used the names as shown in your profiles)!

[2020-10-22 08:58] troyane commented on #236
@dwmkerr Looks good!

[2020-11-01 22:27] puremana commented on #314
Not sure what happened but not relevant anymore as Hacktoberfest has finished so will close this issue.

[2020-11-01 22:27] #314 closed

[2020-11-04 14:05] Doodpants opened #321 "The name of G. K. Chesterton is consistently misspelled as "Chesterson""
G. K. Chester**T**on, of Chesterton's Fence, is repeatedly misspelled as Chester**S**on throughout this document. This is even the case in the link to the Wikipedia page, which of course has the correct spelling.

[2020-11-18 09:09] ustundag opened #323 "Add "Echo Chamber Effect""

[2020-11-18 09:39] ustundag commented on #323
PR has opened. #324

[2020-11-19 04:08] dwmkerr opened #325 "AHA"
https://kentcdodds.com/blog/aha-programming

[2020-11-19 06:32] akashchandwani commented on #300
Hi @dwmkerr ,

I have raised a PR for this, Could you please review and share your thoughts?

https://github.com/dwmkerr/hacker-laws/pull/318

[2020-12-03 08:11] #300 closed

[2020-12-06 03:21] harvey-green opened #326 "Add a corollary to "No plan survives contact with the enemy" applied to software"
Original:
_No plan survives contact with the enemy_
- https://en.wikiquote.org/wiki/Helmuth_von_Moltke_the_Elder

Applied to software:
_No software survives first contact with production_

You can test software entensively, but nothing can prepare a system for production conditions unless it is actually in production. And when that happens, invariably there is something identified immediately that

[2020-12-07 16:17] wodow opened #327 "Add Rule of Three (wrt DRY and refactoring)"
https://en.wikipedia.org/wiki/Rule_of_three_(computer_programming) could be a useful counterpoint to the current explanation of [DRY](https://github.com/dwmkerr/hacker-laws/blob/master/README.md#the-dry-principle):

[2020-12-10 05:36] solarrust opened #330 "Add Russian translation to GitLocalize"
Hi @dwmkerr ! 🖖
I have a plan to carry on the Russian translation into the main repository using GitLocalize. Pls, add me to the project there. Thanks! 🖤

[2020-12-14 22:58] KRDSTAN opened #331 "Ho"

[2021-01-06 05:49] dwmkerr commented on #330
Sorry for the delay - it's done!

[2021-01-06 05:49] #330 closed

[2021-01-24 09:15] puremana opened #332 "Bram's Law"
- Bram Cohen
https://web.archive.org/web/20170629144859/http://www.advogato.org/person/Bram/diary/68.html

[2021-01-25 09:11] puremana opened #333 "Law of the instrument"
Abraham Maslow

https://en.wikipedia.org/wiki/Law_of_the_instrument

Relates heavily to development where project managers tend to choose tools they are familiar with over tools better suited for the project.

[2021-01-25 23:16] lithiumtoast commented on #333
Also found in developer circles where there is bias for certain languages even if they are questionable for the job at hand.

https://en.wikipedia.org/wiki/Law_of_the_instrument#Computer_programming

[2021-01-26 11:51] umutphp opened #334 "Ringelmann Effect"
It can be added to the "See also" list of [Brooks' Law](https://github.com/dwmkerr/hacker-laws#brooks-law).

[https://en.wikipedia.org/wiki/Ringelmann_effect](https://en.wikipedia.org/wiki/Ringelmann_effect)

[2021-02-09 11:37] will08rien opened #336 "Curse of the Monad"
Attributed to Douglas Crockford I guess. Not sure where I originally heard it, but this site seems to be good reference:
https://www.i-programmer.info/news/167-javascript/5207-crockford-on-monads-and-gonads.html

```the curse of the monad is that once you get the epiphany, once you understand - "oh that's what it is" - you lose the ability to explain it to anybody```

[2021-02-09 11:45] will08rien opened #337 "Perlis wisdom"
There are some great Alan Perlis quotes that I think might fit well here. What are your thoughts? I can raise separate issues if if you like and submit some PRs

http://www.cs.yale.edu/homes/perlis-alan/quotes.html

e.g.s
- If you have a procedure with 10 parameters, you probably missed some
- It is better to have 100 functions operate on one data structure than 10 functions on 10 data structures

[2021-03-03 23:50] Stef-Gijsberts opened #339 "Dutch Translation"
Hi! I would like to work on a translation to Dutch (nl-NL). I just made an account on GitLocalize. Is there anything else that I should know or do? Thanks in advance :)

[2021-03-07 06:52] dwmkerr commented on #339
Great! I added you to both Dutch and Dutch (NL), just let me know which one makes sense:

![image](https://user-images.githubusercontent.com/1926984/110231763-a8bef780-7f54-11eb-993e-fe3cd67c154c.png)

When you've got some content feel free to raise a PR on the main README page to add yourself to the list of translators and feel free to include a link to your GitHub sponsors page if you have one!

[2021-04-15 08:20] Florian-Rh opened #341 "German translation (3rd time's the charm)"
Hello Dave!
Firstly, thank you for this super cool and comprehensive collection. I run a bilingual german/english software development blog and I have already [referenced parts of your repository there](https://blog.rhein.me/en/posts/mindfulness-software-development-5/).
I saw that the german translation is somewhat dormant and the corresponding issue was closed last year.
I want to change that! C

[2021-04-18 22:13] cblte commented on #341
Hey Florian, hello Dave.
Maybe I can help with that a little bit. Using the site quite often, but never actually looked at the German translation.

[2021-04-19 05:39] dwmkerr commented on #341
Yes i'll add you now!

[2021-04-19 05:41] dwmkerr commented on #341
Done! Please feel free to add yourself to the moderators list in the README file in the translators section :)

![image](https://user-images.githubusercontent.com/1926984/115186783-e3e84500-a114-11eb-974a-ffd2c72ee6f7.png)

[2021-04-19 05:41] #341 closed

[2021-04-19 06:25] #144 closed

[2021-04-20 05:47] dwmkerr commented on #321
Fixed now!

[2021-04-20 05:47] #321 closed

[2021-04-22 15:08] troyane commented on #236
@dwmkerr Can you help to figure out how to resolve merge conflict in GitLocalize?

It shows this badge
![image](https://user-images.githubusercontent.com/477468/115737477-d6d98900-a394-11eb-8611-2a880606658c.png)

And somehow can't do anything.

Click on red-highlighted text:
![image](https://user-images.githubusercontent.com/477468/115737867-36d02f80-a395-11eb-8771-d85c51154af3.png)

Choose "Link

[2021-04-23 02:42] dwmkerr commented on #236
If you click on the text in red do you get these options?

![image](https://user-images.githubusercontent.com/1926984/115810439-7e4fcd80-a420-11eb-8976-10a5af6ded6b.png)

I think you have to click on things to see the 'link' or 'edit' options

[2021-04-23 02:53] dwmkerr opened #343 "rfc: Yoda Expressions, Pokemon Handlers"
Two common programming anti-patterns - maybe better in another project?

[2021-04-23 15:53] troyane commented on #236
@dwmkerr yeah, I've tried. Can't understand what is wrong. Or maybe there is something so much unintuitive that I'm missing.
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/477468/115897588-40c16380-a465-11eb-8185-e0086b7a6223.gif)

[2021-04-24 14:17] cblte commented on #227
Hello. I also would like to support this, but it seems to be that viktodergunov has done much work on this.

[2021-04-25 04:45] dwmkerr commented on #227
Hi @cblte I've added you as a translator - if you need moderator access and it's ok with the others the just let me know!!

[2021-04-25 04:49] dwmkerr commented on #236
I've pinged the Git Localise team to see if they can chip in on this issue and how to fix it!

[2021-04-27 12:50] rajlego opened #344 "hagwat’s Law of Commitment"
- Bhagwat’s Law of Commitment

o The degree to which people identify with the group is directly proportional to the amount of stuff you tell them to do that works.
Possibly worth adding though I've only ever found [this single post](https://www.greaterwrong.com/posts/Zasc7RXAEosWLYf8E/building-rationalist-communities-a-series-overview) as a source

[2021-04-29 09:29] ilyaspiridonov commented on #236
Looking into it
@svasilenkov do you think a rest would fix this?

[2021-06-21 15:06] dwmkerr commented on #236
@troyane I think that it is working now by the way! Thanks @ilyaspiridonov!

[2021-07-04 13:39] housecricket opened #346 "Vietnamese Translation"

[2021-07-04 14:17] dwmkerr commented on #346
It's done! Feel free to make a change to the `README` file so that you are listed as the translator, and if you have a GitHub sponsors account you can link to that too 😄

Thanks for this and let me know if you need anything!

[2021-08-11 02:25] dwmkerr opened #347 "RFC: Musk’s Engineering Philosophy"
e.g:

Musk overviewed his five step engineering process, which must be completed in order:

Make the requirements less dumb. The requirements are definitely dumb; it does not matter who gave them to you. He notes that it’s particularly dangerous if an intelligent person gives you the requirements, as you may not question the requirements enough. “Everyone’s wrong. No matter who you are, everyone i

[2021-10-01 14:42] troyane commented on #314
Another one is approaching :D

[2021-10-05 04:57] dwmkerr commented on #314
OK cool! What do we need to do to open it up?

[2021-10-05 07:23] puremana commented on #314
I'm not sure if you need it this year

On Tue, Oct 5, 2021 at 5:57 PM Dave Kerr ***@***.***> wrote:

[2021-10-06 18:26] troyane commented on #314
@dwmkerr AFAIK you just need to add respective topic https://github.com/topics/hacktoberfest to your repo.
Personally I'm still in progress with Ukrainian translation, so why not?

[2021-11-04 20:11] Joshua-rose opened #349 "Unable to easily read Hick's Law Equation while using dark mode"
The equation appears to be black text on a dark grey background making it nearly impossible to read.
![image](https://user-images.githubusercontent.com/49696165/140412510-a7068ca0-93a1-4b65-8fc9-57382049a086.png)

[2021-11-10 01:00] dwmkerr commented on #349
Closed by #350

[2021-11-10 01:00] #349 closed

[2021-12-25 12:53] George-Ogden opened #351 "API Endpoint"
This would be an amazing project to turn into an API.

I see the random daily quote and it would be amazing to get this as an API (that obeys all the laws).

I have a similar API an https://inspiration.goprogram.ai for quotes and would be happy to set up something for the API if I'm allowed to and you have a domain.

Awesome work!

[2021-12-25 17:34] umutphp commented on #351
Hi @George-Ogden ,

I have created a CLI command with name "[hacker-laws-cli](https://github.com/umutphp/hacker-laws-cli)" to display random law from this repository at shell and a GitHub [action](https://github.com/umutphp/hacker-laws-action) to add random law as a comment to the PR created. @dwmkerr encouraged me by giving credit at [Related Projects ](https://github.com/dwmkerr/hacker-laws#rela

[2021-12-27 06:03] Joethemover opened #352 "I need help finding my hacker"

[2022-01-01 20:08] k0gen opened #354 "Polish translation 🇵🇱"
Hello @dwmkerr. I would like to start translating **hacker-laws** to Polish language.

[2022-01-02 00:32] qtBlonded opened #355 "Poor Formatting of "SOLID" in PDF"
The acronym of SOLID is not expanded in the PDF as it is expanded in the README.md

[2022-01-02 00:34] #355 closed

[2022-01-02 17:58] bolshoytoster commented on #352
@Joethemover
What do you mean by they hacked your house. If it was a specific device in your house you could look at the device’s logs and you could get the attacker’s ip address. Nowadays, most ISPs use dynamic ips, meaning they could probably just get a new address by turning their router off and on again. You would be able to find what ISP they use, so you could contact their support to see if

[2022-01-03 07:54] Gemasuto opened #357 "Reference"

[2022-01-04 05:00] dwmkerr commented on #357
Hi @Gemasuto do you have any details for this issue? Please let me know, otherwise I'll guess it's raised mistakenly and close it in a few days or so!

[2022-01-04 06:19] Gemasuto commented on #357
Pls close it it was an accident thank you

[2022-01-04 06:19] #357 closed

[2022-01-04 15:53] Viasuss opened #361 "hello"
Hey, how's my name is viasuss, I'm from Colombia and I can help you with whatever you need, I'm a wonderful child, I want to teach and learn, if you want to talk to me more, I'll leave you my email. viasuscardoso@gmail.com

[2022-01-04 20:35] Manodiestra opened #362 "Technical Debt Link"
Under the Broken Windows Theory there is a link for Technical Debt. I'm not sure what your opinions are on external links, but this source is very clear, thorough, and easy to understand.

https://www.productplan.com/glossary/technical-debt/

[2022-01-05 01:28] eqemenesen opened #363 "Check later"

[2022-01-05 01:30] #363 closed

[2022-01-05 04:24] truonghoangnguyen opened #364 "Tranlate to vietnamese language"
Hi
I have completed the translation into Vietnamese here: https://github.com/truonghoangnguyen/hacker-laws/tree/main/vi .

The next step if you need anything more please let me know.

[2022-01-05 04:54] dwmkerr commented on #364
Hi @truonghoangnguyen that's awesome! To add to the list of translations, please sign into Git Localise: https://gitlocalize.com/

Once you have signed in, let me know and I will make you the moderator for Vietnamese. Then open a pull request that adds the link to the 'translations' section at the top of the README and bottom (I can add that if you prefer) and put the translation in the [./transla

[2022-01-05 12:08] thescribe11 opened #365 "Add Finagle's Law"
Finagle's law is a slightly less common (but still often used) expansion of Murphy's Law first proposed by Larry Niven<sup>[citation needed]</sup>. In short -

It expands upon Murphy's Law by allowing for things going terribly _right_.

[2022-01-05 15:18] gerwitz opened #366 "Knuth and premature optimization"
It might be worth a footnote that Knuth himself denies being the originator of this “law”, though it seems fair enough to credit it to him: https://shreevatsa.wordpress.com/2008/05/16/premature-optimization-is-the-root-of-all-evil/

[2022-01-06 02:06] truonghoangnguyen commented on #364
Hi, @dwmkerr I'm logged in to Git Localise (link here: https://gitlocalize.com/repo/6953/vi)

Have good day

[2022-01-06 06:39] dwmkerr commented on #364
Excellent, I've made you the moderator for Vietnamese, you should be able
to create a PR into the main repo now!

On Thu, 6 Jan 2022 at 10:06, nguyên ***@***.***> wrote:

[2022-01-07 05:36] dwmkerr commented on #354
Hi @k0gen! Thanks for reaching out, it would be great if you would like to translate to Polish!

I have updated the Contributor Guide with more detailed instructions for this, if you follow the steps here I can make you the moderator for Polish, just let me know when your GitLocalise account is ready:

https://github.com/dwmkerr/hacker-laws/blob/main/.github/contributing.md#translations

[2022-01-07 13:40] k0gen commented on #354
GitLocalise account was ready 6 days ago 😄

[2022-01-07 14:27] k0gen commented on #354
I have made the suggested changes in #368

[2022-01-08 06:59] dwmkerr commented on #354
Awesome, I've just made you the moderator on GitLocalise!

[2022-01-08 23:55] k0gen commented on #354
Strange I was unable to find it on: https://gitlocalize.com/repo/2513/
Anyways initial Polish translation is ready from my repo at #370
BTW: The links are not suitable for translation files residing in `/translations` directory - this should be addressed

[2022-01-12 01:24] truonghoangnguyen commented on #364
Hi @dwmkerr .
I have finished translating to Vietnamese on gitlocalize and create review request.
https://gitlocalize.com/repo/2513/vi

The next step if you need please let me know.

[2022-01-12 04:08] dwmkerr commented on #364
This is awesome, thank-you! BTW I think you need to hit the 'send pull
request' button for it to open a PR into the main repo, once that's done
I'll merge and share!

On Wed, 12 Jan 2022 at 09:24, nguyên ***@***.***> wrote:

[2022-01-12 05:40] truonghoangnguyen commented on #364
Hi
I got an error while creating PR, not sure if it's temporary or permanent, but I think it's best to let you know the situation.

![image](https://user-images.githubusercontent.com/1657877/149070306-5463f6e6-426f-42d0-b6fe-d3959f17df2d.png)

[2022-01-12 05:52] dwmkerr commented on #364
That's really odd - for now maybe you can manually just PR the translation file into the repo?

[2022-01-13 13:12] truonghoangnguyen commented on #364
Hi
I don't know how to do it, can you guide me or give me online documents ?

Thank you

[2022-01-14 21:11] #361 closed

[2022-01-14 21:17] Viasuss commented on #352
es igual como el troyano ya sea que ayas descargado un archivo que querias en un celular o metido en una pagina que no es segura el atacante tiene tus datos por el troyano y solo tienes que eliminar eso o simplemente salirte a mi me paso y no alcanzo a ningun problema mayor te deseo suerte amigo sobre su problema,a y se me habia olvidado ya que tu no hayas hecho eso el tiene el control de todo has

[2022-01-15 05:38] dwmkerr commented on #352
🍿

[2022-01-15 05:44] dwmkerr commented on #364
Sure thing:

1. First, update your repository so that the translated file is in the location `translations\vn.md`.
2. Open a pull request that requests that the `vn.md` file is merged into this repository
3. In the pull request if you can update the table below with your details, that's great, if not I can do it (I just need to know how to write Vietnamese (as in the language) in Vietnamese proper

[2022-01-15 09:00] velocitatem opened #371 "Czech"
I would like to contribute Czech translations.

[2022-01-15 09:17] #371 closed

[2022-01-19 19:43] reol224 opened #374 "Translation to Romanian"
Hello! I would like to help by translating this project into Romanian. Since I am a native, you can expect high accuracy.

[2022-01-19 22:49] thomasmerz opened #375 "Add Clarke's three laws"
I wonder if Clarke's three laws are also useful for developers: 🤔

Have a look at https://en.wikipedia.org/wiki/Clarke's_three_laws

The laws
These so-called laws are:
    When a distinguished but elderly scientist states that something is possible, he is almost certainly right. When he states that something is impossible, he is very probably wrong.
    The only way of discovering the limits of th

[2022-01-20 01:51] gurjeet commented on #375
@thomasmerz, it'd be great if you could post a patch/PR as well.

[2022-01-20 07:51] thomasmerz commented on #375
@gurjeet , you are welcome: https://github.com/dwmkerr/hacker-laws/pull/376 😃

[2022-01-21 07:31] #364 closed

[2022-02-02 07:41] tobiasbueschel opened #378 "Add Little's Law"
https://www.scrum.org/resources/littles-law-professional-scrum-kanban

[2022-02-02 08:50] tobiasbueschel opened #379 "Add Cynefin framework"
https://en.wikipedia.org/wiki/Cynefin_framework
https://5u3it.medium.com/cynefin-framework-and-its-impact-in-todays-software-industry-d64caa50f407

[2022-02-02 08:56] tobiasbueschel opened #380 "Add Cone of Uncertainty"
https://en.wikipedia.org/wiki/Cone_of_Uncertainty

[2022-02-07 05:34] dwmkerr opened #382 "RFC: Atwood's Law"
Again, curious to get people's thoughts on this - humorous laws have been included so far and I think this is a potentially good one to include.

[2022-02-07 05:34] dwmkerr opened #383 "RFC: Poe's Law"
https://en.wikipedia.org/wiki/Poe%27s_law

Curious to get thoughts on whether this is a good fit.

[2022-02-07 10:38] umutphp commented on #383
For social media, It is a perfect fit. I remember many cases that the people had serious discussions under the publishes of parody accounts. No matter it is clearly stated that it is a parody account, there are always people who takes it serious.

But, I am not sure if it is a good fit for this repo. My vote is no 👎🏻 .

[2022-02-09 08:04] dwmkerr opened #384 "RFC: Kettering's Law"

[2022-02-16 21:18] thomasmerz commented on #375
@dwmkerr and @gurjeet , have you already reviewed my PR?

[2022-02-26 19:11] jimmyrozier opened #386 "M"

[2022-03-03 15:55] rafo commented on #341
@dwmkerr  Currently, the link on the main page to the German translation doesn't work.

[2022-03-17 22:37] thomasmerz commented on #375
Well, that's no fun if nobody is reviewing and merging any PR… 😞  @dwmkerr + @gurjeet

[2022-03-28 13:50] ShaddyDC opened #389 "Minimal Anki Deck"
I thought this list was a good candidate for spaced repetition like with [anki](https://ankiweb.net/).

I have created a simple deck for personal use, but I figured maybe others here would find it useful too. I am not personally planning on updating or maintaining it. It gives you a name of a law or principle and shows a description afterwards.

It only has the name of each law or principle, a lin

[2022-04-01 15:13] Joshua-rose commented on #362
IMO the issue with external links is that they may decay and die. Stack Overflow is littered with dead links to the point where it is often suggested to put the content (or a paraphrase) in your response. Just my $0.02

[2022-04-01 19:37] Manodiestra commented on #362
Got it. Now that you point that out I totally agree.

[2022-04-01 19:42] #362 closed

[2022-04-12 03:28] dwmkerr opened #390 "Sturgeon's Law"
https://en.wikipedia.org/wiki/Sturgeon%27s_law

[2022-04-12 03:56] gurjeet commented on #390
@dwmkerr , can you please turn this into a pull-request.

[2022-08-13 04:28] jsolly opened #392 "Sayre’s Law"
•	Sayre's law states, in a formulation quoted by [Charles Philip Issawi](https://en.wikipedia.org/wiki/Charles_Issawi): "In any dispute the intensity of feeling is inversely proportional to the value of the issues at stake." By way of corollary, it adds: "That is why academic politics are so bitter."

[2022-09-02 10:36] jevbelikov commented on #302
+1

[2022-09-05 12:52] dwmkerr opened #393 "Parkinson's Law"
https://en.wikipedia.org/wiki/Parkinson%27s_law

[2022-09-26 13:47] nreynis opened #394 "RFC: Zero One Infinity rule"
[Zero one infinity](https://en.wikipedia.org/wiki/Zero_one_infinity_rule)

This law is super handy when modeling a domain or a database.

[2022-09-28 01:59] dwmkerr commented on #394
This looks like a great addition, thanks @nreynis !

[2022-10-14 12:57] Facebookvissarut opened #397 "วิศรุตสุขแจ่ม"
[วิศรุต สุขแจ่ม](Friends of friends, collective members of the company and companies in the network.)  @michalkaptur

[2022-10-14 12:58] Facebookvissarut commented on #397
@Facebookvissarut